              body {
                  background-color: black;
                  background-image: url("Img/Fondo.jpg");
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-attachment: fixed;
              }
                                          
              /*li {
                  font-style: italic;
              }*/
              
              div p {
                  font-size: large;
                  font-style: italic;
                  font-weight: lighter;
              }
              
              h2 {
                  font-weight: lighter;
              }
              
              #Grid_Container {
                  display: grid;
                  grid-template-areas: 
                  "header header header" 
                  "aside main main" 
                  "aside main main" 
                  "footer footer footer";
                  grid-template-rows: 45px repeat(2, 1fr) 20px;
                  grid-template-columns: repeat(auto-fit, minnax(150px, 1fr));
                  height: 100%;
              }
              
              #Grid__Header {
                  grid-area: header;
              }
              
              /*#LogoImagen {
                  display: inline-flex;
                  flex-direction: raw;
                  flex-wrap: nowrap;
              }
              
              #LogoImagen-I {
                  display: inline-flex;
                  flex-direction: raw;
                  flex-wrap: nowrap;
              }
              
              #LogoImagen-L {
                  display: inline-flex;
                  flex-direction: raw;
                  flex-wrap: nowrap;
                  /* background: rgba(0, 0, 200, .6);
                  border-radius: 40%;
              }
              
              
              #Nav__ul {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
              }
              
              .Nav__li {
                  display: inline-block;
                  list-style: none;
              }
              
              .Nav__li a {
                  Color: rgb(0, 0, 0);
                  text-decoration: none;
                  font-size: 22px;
                  font-family: arial;
                  padding: 5px;
                  background: #66B5;
                  border-radius: 40%;
                  margin: 5px 5px 0;
              }
              
              .Nav__li a:hover {
                  color: #000;
                  background: #fff7;
              }*/
              
              #Grid__Main {
                  padding-top: 40px;
                  grid-area: main;
                  font-size: 12px;
                  color: black;
              }
              
              .Secciones {
                  margin: 10px;
              }
              
              #Grid__Aside {
                  grid-area: aside;
                  background: #1117;
                  color: #eee;
              }
              /*
              #Grid__Footer {
                  grid-area: footer;
                  background: #aaa;
              }
              
              .SB {
                  color: darkkhaki;
                  font-size: 40px;
              }*/
              
              .slide-right {
                  align-items: center;
                  animation: slide-right 1s linear both
              }
              
              @keyframes slide-right {
                  0% {
                      transform: translateX(0)
                  }
                  100% {
                      transform: translateX(100px)
                  }
              }
              
              .container form {
                  display: grid;
                  justify-items: center;
              }
              
             @media only screen and (max-width: 300px) {
                  .col-4 {
                      width: 100%;
                  }
                  .btn-dark {
                      width: 50%;
                  }
              }
              
              