body {
    background-image: url("Img/Fondo.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

a {
    text-decoration: none;
    text-decoration-line: none;
    color: blanchedalmond;
}
a:visited {
    text-decoration: none;
    color: blanchedalmond;
}

#Grid__Cointeiner {
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";
    grid-template-rows: 45px repeat(2, 1fr) 20px;
    grid-template-columns: 50px 1fr 1fr ;
}

#Grid_header {
    grid-area: header;
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(29, 29, 51, 0.582);
    z-index: 10;
}


.Flex__Cointainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#SB {
    font-size: 1.5em;
    letter-spacing: 8px;
    color: darkkhaki;
    text-decoration: none;
    margin-left: 10px;
}

.Menu__icon {
    display: none;
    opacity: 1;
    color: rgb(11, 221, 99);
    background-color: black;
    border: none;
}


.Menu ul li {
    display: inline-block;
    color: blanchedalmond;
}


.Menu ul li a {
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4 linear;
    border-radius: 5px;

}


.Menu ul li a:hover {
    background-color: #a18ba3;
}








#Grid_main {
    grid-area: main;
    margin: 0 auto;
    color: white;

}

.Bloque {
    /*background-image: url(./Img/cacfoto1.JPG);
    background-size: objet-position;
    background-attachment: fixed;*/
    background-color: rgba(4, 4, 58, 0.582);
    margin: 10em 5em;
    max-width: 850px;
}

.Bloque h3 {
    margin-top: 2em;
}

#reves {
    flex-wrap: wrap-reverse;
}

.Bloque:hover {
    background-color: rgba(16, 16, 90, 0.767);

}

.Animation {
    object-fit: contain;
    width: 200px;
    border-radius: 50%;
}








#Grid_footer {
    grid-area: footer;
    box-sizing: 1em;
    background-color: rgba(29, 29, 51, 0.582);
}


.Dire {
    width: 100%;
    text-align: center;
    color: black;
}

.Dire a:visited {
    color: black;
}

#Redes {
    flex-wrap: nowrap;
    justify-content: space-around;
}

.Redes__item {
    display: inline-block;
    flex-basis: auto;
    font-size: 0.5em;
}

.Redes__item a {
    font-size: 1.5rem;
    display: block;
    padding: 1rem 0.5rem;
    transition: all 0.4 linear;
    border-radius: 5px;
    transition: 2s;

}

.Redes__item a:hover {
    color: yellow;
}


@media only screen and (max-width: 935px) {

    .Menu__icon {
        display: block;
        color: azure;
        font-size: 1.5em;
        cursor: pointer;
    }

    .Menu {
        width: 100%;
        margin-top: 1em;
    }

    .Menu ul {
        display: none;
    }
    .Menu ul.Show {
        display: block;
    }
    
    .Menu ul li {
        display: block;
        color: blanchedalmond;
        text-align: center;

    }
    
    .Menu ul li a {
        font-size: 1.2rem;
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4 linear;
        border-radius: 5px;
    }
    
    .Menu ul li a:hover {
        background-color: #a18ba3;
    }

    .Redes__item a {
        font-size: 1rem;
        display: block;
        padding: 1rem 0.5rem;
        transition: all 0.4 linear;
        border-radius: 5px;
        transition: 2s;
    
    }
}

@media only screen and (max-width: 480px) {

    #Grid__Cointeiner {
        display: grid;
        grid-template-areas: 
        "header "
        "main "
        "main "
        "footer ";
        grid-template-rows: repeat(4,auto);
        grid-template-columns: auto;
    }
    .Titulo {
        flex-shrink: 2;
    }
    #SB {
        font-size: 1em;
    }
    .Menu {
        background-color: rgb(29, 29, 51);
        height: 100%;
        padding: auto 0;
    }

    .Menu ul {
        width: 100%;
    }

    .Nav__li {
        padding: 4em 0;
        text-align: center;
        overflow-y: auto;
    }
    .Nav__li:hover {
        background-color: #a18ba3;

    }

}